<strong>NumPy</strong>
-- Foundational data structure, in Python, and powerful tool in which other powerful tools are built upon, such as SciPy, Matplotlib, Pandas, Scikit-Learn and more.
* Low level data structure(np.array)
* Large multidimensional arrays and matrices
* Wide range of mathematical operations can be performed on data structures
* `import numpy as np`

<strong>Pandas</strong>
-- Python library which provides high performance easy to use data structures and data analysis tools. Runs on top of NumPy (NumPy is a dependency of Pandas), so if you type `conda install pandas` in your terminal NumPy will also install automatically. Popular for data science, financial modeling, statistics, etc. 
* High level data structure (dataframes)
* More suited for dealing with `tabular` data (spreadsheets)
* Data alignment, fills in missing data, makes date friendlier to work with, etc.
* `import pandas as pd`

<strong>Comblined</strong>
* Use NumPy's calculation capabilities with Pandas' data structuring models to yield powerful and visual results

### Import packages

In [67]:
import pandas as pd
import numpy as np
from datetime import date

### Create dataframe

In [2]:
user_dataframe = [
    {
        'id': 1,
        'first_name': 'Lucas',
        'last_name': 'Lang'
    },
    {
        'id': 2,
        'first_name': 'Joel',
        'last_name': 'Carter'
    },
]

for i in user_dataframe:
    print(i)

{'id': 1, 'first_name': 'Lucas', 'last_name': 'Lang'}
{'id': 2, 'first_name': 'Joel', 'last_name': 'Carter'}

In [3]:
data = [
    ['Student A', 'Standard', 92, 54, 88, 56, 99],
    ['Student B', 'Pre-AP', 65, 87, 67, 98, 55],
    ['Student C', 'Standard', 82, 84, 58, 6, 59],
    ['Student D', 'Pre-AP', 99, 99, 99, 99, 99],
    ['Student E', 'Standard', 100, 100, 100, 100, 100],
    ['Student F', 'AP', 75, 79, 83, 81, 80]
]

In [4]:
df = pd.DataFrame(
    data=data,
    index=list(range(len(data))),
    columns=['Name', 'Class Type', 'Quiz 1', 'Quiz_2', 'Quiz 3', 'Quiz 4', 'Quiz 5']
)

In [5]:
df

        Name Class Type  Quiz 1  Quiz_2  Quiz 3  Quiz 4  Quiz 5
0  Student A   Standard      92      54      88      56      99
1  Student B     Pre-AP      65      87      67      98      55
2  Student C   Standard      82      84      58       6      59
3  Student D     Pre-AP      99      99      99      99      99
4  Student E   Standard     100     100     100     100     100
5  Student F         AP      75      79      83      81      80

### Show data types,  indexes, columns, values

<p>
    <i>32-bit integer (int32) = 2,147,483,647</i>
</p>
<p>
    <i>64-bit integer (int64) = 9,223,372,036,854,775,807</i>
</p>

In [6]:
# pd.read_csv('./engagements.csv')

In [7]:
dir(pd)

['BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Flags',
 'Float32Dtype',
 'Float64Dtype',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__getattr__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_config',
 '_hashtable',
 '_is_numpy_dev',
 '_lib',
 '_libs',
 '_np_version_under1p18',
 '_testing',
 '_tslib',
 '_typing',
 '_version',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'read_xml',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

### Basic information about dataframe

In [8]:
df.describe()

           Quiz 1      Quiz_2     Quiz 3      Quiz 4      Quiz 5
count    6.000000    6.000000    6.00000    6.000000    6.000000
mean    85.500000   83.833333   82.50000   73.333333   82.000000
std     13.982131   16.821613   17.02645   37.071103   20.803846
min     65.000000   54.000000   58.00000    6.000000   55.000000
25%     76.750000   80.250000   71.00000   62.250000   64.250000
50%     87.000000   85.500000   85.50000   89.500000   89.500000
75%     97.250000   96.000000   96.25000   98.750000   99.000000
max    100.000000  100.000000  100.00000  100.000000  100.000000

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6 entries, 0 to 5
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        6 non-null      object
 1   Class Type  6 non-null      object
 2   Quiz 1      6 non-null      int64
 3   Quiz_2      6 non-null      int64
 4   Quiz 3      6 non-null      int64
 5   Quiz 4      6 non-null      int64
 6   Quiz 5      6 non-null      int64
dtypes: int64(5), object(2)
memory usage: 384.0+ bytes

In [10]:
df.head()

        Name Class Type  Quiz 1  Quiz_2  Quiz 3  Quiz 4  Quiz 5
0  Student A   Standard      92      54      88      56      99
1  Student B     Pre-AP      65      87      67      98      55
2  Student C   Standard      82      84      58       6      59
3  Student D     Pre-AP      99      99      99      99      99
4  Student E   Standard     100     100     100     100     100

In [11]:
df.tail()

        Name Class Type  Quiz 1  Quiz_2  Quiz 3  Quiz 4  Quiz 5
1  Student B     Pre-AP      65      87      67      98      55
2  Student C   Standard      82      84      58       6      59
3  Student D     Pre-AP      99      99      99      99      99
4  Student E   Standard     100     100     100     100     100
5  Student F         AP      75      79      83      81      80

In [12]:
df.head(3)

        Name Class Type  Quiz 1  Quiz_2  Quiz 3  Quiz 4  Quiz 5
0  Student A   Standard      92      54      88      56      99
1  Student B     Pre-AP      65      87      67      98      55
2  Student C   Standard      82      84      58       6      59

In [13]:
# pandas.core.series.Series
df.dtypes

Name          object
Class Type    object
Quiz 1         int64
Quiz_2         int64
Quiz 3         int64
Quiz 4         int64
Quiz 5         int64
dtype: object

In [14]:
df.index

Int64Index([0, 1, 2, 3, 4, 5], dtype='int64')

In [15]:
df.columns

Index(['Name', 'Class Type', 'Quiz 1', 'Quiz_2', 'Quiz 3', 'Quiz 4', 'Quiz 5'], dtype='object')

### Statistical summary of data

In [16]:
df.describe().quantile()

Quiz 1    81.125000
Quiz_2    82.041667
Quiz 3    76.750000
Quiz 4    67.791667
Quiz 5    73.125000
Name: 0.5, dtype: float64

In [17]:
df['Quiz 1']

0     92
1     65
2     82
3     99
4    100
5     75
Name: Quiz 1, dtype: int64

In [18]:
df['Quiz_2']

0     54
1     87
2     84
3     99
4    100
5     79
Name: Quiz_2, dtype: int64

In [19]:
df.Name

0    Student A
1    Student B
2    Student C
3    Student D
4    Student E
5    Student F
Name: Name, dtype: object

In [20]:
df.describe()

           Quiz 1      Quiz_2     Quiz 3      Quiz 4      Quiz 5
count    6.000000    6.000000    6.00000    6.000000    6.000000
mean    85.500000   83.833333   82.50000   73.333333   82.000000
std     13.982131   16.821613   17.02645   37.071103   20.803846
min     65.000000   54.000000   58.00000    6.000000   55.000000
25%     76.750000   80.250000   71.00000   62.250000   64.250000
50%     87.000000   85.500000   85.50000   89.500000   89.500000
75%     97.250000   96.000000   96.25000   98.750000   99.000000
max    100.000000  100.000000  100.00000  100.000000  100.000000

In [21]:
df['Quiz_2'].mean()

83.83333333333333

In [22]:
# df.Quiz 1

### Sort all values by certain criteria

In [23]:
df.sort_values('Quiz 3', ascending=False)

        Name Class Type  Quiz 1  Quiz_2  Quiz 3  Quiz 4  Quiz 5
4  Student E   Standard     100     100     100     100     100
3  Student D     Pre-AP      99      99      99      99      99
0  Student A   Standard      92      54      88      56      99
5  Student F         AP      75      79      83      81      80
1  Student B     Pre-AP      65      87      67      98      55
2  Student C   Standard      82      84      58       6      59

In [24]:
# dir(df)

In [25]:
df.transpose().transpose().transpose().transpose().transpose().transpose()

        Name Class Type Quiz 1 Quiz_2 Quiz 3 Quiz 4 Quiz 5
0  Student A   Standard     92     54     88     56     99
1  Student B     Pre-AP     65     87     67     98     55
2  Student C   Standard     82     84     58      6     59
3  Student D     Pre-AP     99     99     99     99     99
4  Student E   Standard    100    100    100    100    100
5  Student F         AP     75     79     83     81     80

### Adding

In [26]:
new_data = ['Student G', 'AP', 100, 100, 83, 81, 80]

# data_to_add = pd.DataFrame(
#     data=new_data,
#     index=list(range(len(new_data))),
#     columns=['Name', 'Class Type', 'Quiz 1', 'Quiz 2', 'Quiz 3', 'Quiz 4', 'Quiz 5']
# )

# How to add a new individual record to your dataframe
df.loc[len(df)] = new_data

In [27]:
df

        Name Class Type  Quiz 1  Quiz_2  Quiz 3  Quiz 4  Quiz 5
0  Student A   Standard      92      54      88      56      99
1  Student B     Pre-AP      65      87      67      98      55
2  Student C   Standard      82      84      58       6      59
3  Student D     Pre-AP      99      99      99      99      99
4  Student E   Standard     100     100     100     100     100
5  Student F         AP      75      79      83      81      80
6  Student G         AP     100     100      83      81      80

### Slicing data

In [28]:
# object literal notation
# df['Quiz 2']

# object dot notation
# df.Name

In [29]:
df[2:5]

        Name Class Type  Quiz 1  Quiz_2  Quiz 3  Quiz 4  Quiz 5
2  Student C   Standard      82      84      58       6      59
3  Student D     Pre-AP      99      99      99      99      99
4  Student E   Standard     100     100     100     100     100

In [30]:
# retrieve subsection of a slice of column data
df[['Name', 'Quiz 1', 'Quiz_2']]

        Name  Quiz 1  Quiz_2
0  Student A      92      54
1  Student B      65      87
2  Student C      82      84
3  Student D      99      99
4  Student E     100     100
5  Student F      75      79
6  Student G     100     100

In [31]:
df.loc[5, ['Quiz 1', 'Quiz_2']]

Quiz 1    75
Quiz_2    79
Name: 5, dtype: object

In [32]:
df.loc[5, :]

Name          Student F
Class Type           AP
Quiz 1               75
Quiz_2               79
Quiz 3               83
Quiz 4               81
Quiz 5               80
Name: 5, dtype: object

In [33]:
df.loc[5, 'Quiz 1':'Quiz 4']

Quiz 1    75
Quiz_2    79
Quiz 3    83
Quiz 4    81
Name: 5, dtype: object

### Filtering

In [34]:
df[df['Quiz 1'] > 90]

        Name Class Type  Quiz 1  Quiz_2  Quiz 3  Quiz 4  Quiz 5
0  Student A   Standard      92      54      88      56      99
3  Student D     Pre-AP      99      99      99      99      99
4  Student E   Standard     100     100     100     100     100
6  Student G         AP     100     100      83      81      80

In [35]:
df.dtypes

Name          object
Class Type    object
Quiz 1         int64
Quiz_2         int64
Quiz 3         int64
Quiz 4         int64
Quiz 5         int64
dtype: object

In [36]:
df['Quiz 1'] > 90

0     True
1    False
2    False
3     True
4     True
5    False
6     True
Name: Quiz 1, dtype: bool

In [37]:
df.query("Name == 'Student E'")

        Name Class Type  Quiz 1  Quiz_2  Quiz 3  Quiz 4  Quiz 5
4  Student E   Standard     100     100     100     100     100

In [38]:
# NOTE: YOU NEED TO MAKE SURE YOUR COLUMN NAMES CAN BE REFERENCED AS ALL ONE WORD
df.query("Quiz_2 > 99")

        Name Class Type  Quiz 1  Quiz_2  Quiz 3  Quiz 4  Quiz 5
4  Student E   Standard     100     100     100     100     100
6  Student G         AP     100     100      83      81      80

In [39]:
# UNLESS YOU WANNA USE BACKTICKS, THEN THOSE ARE OK
df.query("`Quiz 1` > 99")

        Name Class Type  Quiz 1  Quiz_2  Quiz 3  Quiz 4  Quiz 5
4  Student E   Standard     100     100     100     100     100
6  Student G         AP     100     100      83      81      80

### Assignment

In [40]:
# df.rename(lambda c:c.replace(' ', '_'))
df.loc[5, 'Quiz 5'] = np.nan

In [41]:
df

        Name Class Type  Quiz 1  Quiz_2  Quiz 3  Quiz 4  Quiz 5
0  Student A   Standard      92      54      88      56    99.0
1  Student B     Pre-AP      65      87      67      98    55.0
2  Student C   Standard      82      84      58       6    59.0
3  Student D     Pre-AP      99      99      99      99    99.0
4  Student E   Standard     100     100     100     100   100.0
5  Student F         AP      75      79      83      81     NaN
6  Student G         AP     100     100      83      81    80.0

In [42]:
df['Quiz 5'].mean()

82.0

In [43]:
#The teacher wanted to void everyone's quiz 5 score
df.loc[:, 'Quiz 5'] = 100

In [44]:
df

        Name Class Type  Quiz 1  Quiz_2  Quiz 3  Quiz 4  Quiz 5
0  Student A   Standard      92      54      88      56     100
1  Student B     Pre-AP      65      87      67      98     100
2  Student C   Standard      82      84      58       6     100
3  Student D     Pre-AP      99      99      99      99     100
4  Student E   Standard     100     100     100     100     100
5  Student F         AP      75      79      83      81     100
6  Student G         AP     100     100      83      81     100

In [45]:
df['Quiz 5'] = 100
df

        Name Class Type  Quiz 1  Quiz_2  Quiz 3  Quiz 4  Quiz 5
0  Student A   Standard      92      54      88      56     100
1  Student B     Pre-AP      65      87      67      98     100
2  Student C   Standard      82      84      58       6     100
3  Student D     Pre-AP      99      99      99      99     100
4  Student E   Standard     100     100     100     100     100
5  Student F         AP      75      79      83      81     100
6  Student G         AP     100     100      83      81     100

### Rename columns

In [46]:
df['Averages'] = (df['Quiz 1'] + df['Quiz_2'] + df['Quiz 3'] + df['Quiz 4'] + df['Quiz 5']) / 5
df

        Name Class Type  Quiz 1  Quiz_2  Quiz 3  Quiz 4  Quiz 5  Averages
0  Student A   Standard      92      54      88      56     100      78.0
1  Student B     Pre-AP      65      87      67      98     100      83.4
2  Student C   Standard      82      84      58       6     100      66.0
3  Student D     Pre-AP      99      99      99      99     100      99.2
4  Student E   Standard     100     100     100     100     100     100.0
5  Student F         AP      75      79      83      81     100      83.6
6  Student G         AP     100     100      83      81     100      92.8

In [47]:
df.rename(columns = {'Averages':'Average'}, inplace = True)
df

        Name Class Type  Quiz 1  Quiz_2  Quiz 3  Quiz 4  Quiz 5  Average
0  Student A   Standard      92      54      88      56     100     78.0
1  Student B     Pre-AP      65      87      67      98     100     83.4
2  Student C   Standard      82      84      58       6     100     66.0
3  Student D     Pre-AP      99      99      99      99     100     99.2
4  Student E   Standard     100     100     100     100     100    100.0
5  Student F         AP      75      79      83      81     100     83.6
6  Student G         AP     100     100      83      81     100     92.8

In [48]:
df.rename(lambda c:c.lower().replace(' ', '_'), axis=1, inplace=True)
df

        name class_type  quiz_1  quiz_2  quiz_3  quiz_4  quiz_5  average
0  Student A   Standard      92      54      88      56     100     78.0
1  Student B     Pre-AP      65      87      67      98     100     83.4
2  Student C   Standard      82      84      58       6     100     66.0
3  Student D     Pre-AP      99      99      99      99     100     99.2
4  Student E   Standard     100     100     100     100     100    100.0
5  Student F         AP      75      79      83      81     100     83.6
6  Student G         AP     100     100      83      81     100     92.8

In [49]:
df.quiz_2

0     54
1     87
2     84
3     99
4    100
5     79
6    100
Name: quiz_2, dtype: int64

In [50]:
df.class_type

0    Standard
1      Pre-AP
2    Standard
3      Pre-AP
4    Standard
5          AP
6          AP
Name: class_type, dtype: object

### Interate over dataframe

In [51]:
for i in df:
    print(i)

name
class_type
quiz_1
quiz_2
quiz_3
quiz_4
quiz_5
average

In [52]:
for idx, row in df.iterrows():
    print(idx, row['class_type'], row.average)

0 Standard 78.0
1 Pre-AP 83.4
2 Standard 66.0
3 Pre-AP 99.2
4 Standard 100.0
5 AP 83.6
6 AP 92.8

### Save to CSV file

In [53]:
# df.to_csv('new_data.csv')
df.to_csv('new_data.csv', index=False)

### Load data from CSV file into Jupyter Notebook as a Pandas dataframe

In [54]:
new_df = pd.read_csv('new_data.csv')
new_df

        name class_type  quiz_1  quiz_2  quiz_3  quiz_4  quiz_5  average
0  Student A   Standard      92      54      88      56     100     78.0
1  Student B     Pre-AP      65      87      67      98     100     83.4
2  Student C   Standard      82      84      58       6     100     66.0
3  Student D     Pre-AP      99      99      99      99     100     99.2
4  Student E   Standard     100     100     100     100     100    100.0
5  Student F         AP      75      79      83      81     100     83.6
6  Student G         AP     100     100      83      81     100     92.8

In [71]:
enroll = pd.read_csv('enrollments_copy.csv')
engage = pd.read_csv('engagements_copy.csv')
sub = pd.read_csv('submissions_copy.csv')

In [72]:
df_enroll = pd.DataFrame(data=enroll, index=None)
df_engage = pd.DataFrame(data=engage, index=None)
df_sub = pd.DataFrame(data=sub, index=None)

In [74]:
# How many students were active on the website within the first week?
df_enroll.rename(columns={ "account_key": 'acct'}, inplace=True)
ee_merge = pd.merge(df_engage, df_enroll[['join_date', 'acct']], on='acct', how='right')

ee_merge.utc_date = pd.to_datetime(ee_merge['utc_date'])
ee_merge.join_date = pd.to_datetime(ee_merge['join_date'])

time_delta_of_seven = ee_merge.loc[(ee_merge['utc_date'] - ee_merge['join_date']).dt.days <= 7]
filtered = time_delta_of_seven.drop_duplicates(subset='acct')


print(filtered)

        acct   utc_date  num_courses_visited  total_minutes_visited  \
0        700 2017-11-10                  1.0              15.185969
6        429 2017-11-10                  3.0              25.481334
444       60 2017-11-10                  2.0               7.778121
1314    1300 2017-11-10                  1.0               2.625080
1320     369 2017-11-10                  0.0               0.000000
...      ...        ...                  ...                    ...
192467   874 2018-08-23                  0.0               0.000000
192472   686 2018-08-23                  1.0               9.612110
192473   448 2017-11-05                  0.0               0.000000
195130   312 2017-11-10                  1.0               4.326470
196266   818 2018-01-07                  1.0              38.961961

        lessons_completed  projects_completed  join_date
0                     0.0                 0.0 2017-11-10
6                     0.0                 0.0 2017-11-10
444                   0.0                 0.0 2017-11-10
1314                  0.0                 0.0 2017-11-10
1320                  0.0                 0.0 2017-11-10
...                   ...                 ...        ...
192467                0.0                 0.0 2018-08-22
192472                0.0                 0.0 2018-08-23
192473                0.0                 0.0 2017-11-10
195130                0.0                 0.0 2017-11-10
196266                0.0                 0.0 2018-01-07

[1237 rows x 7 columns]

In [ ]:
# How many minutes did each student spend on the website total?

In [93]:
pd.set_option("display.max_rows", None, "display.max_columns", None)
df_engage.groupby(['acct']).sum()[['total_minutes_visited']]

      total_minutes_visited
acct
0               7605.371410
1               4296.244476
2               2977.430045
3               4422.018919
4               3722.648850
5               4908.933278
6               4106.341951
7               2196.937426
8               4620.633675
9               6931.997476
10              6786.523131
11               601.089187
12             10586.664120
13              1977.090143
14              2171.306066
15              9278.582127
16              1446.939414
17              2620.406359
18              1966.814185
19              2011.209285
20              2324.016470
21              2212.983793
22              2659.483444
23             10414.645089
24              8112.847324
25              4840.034289
26              2963.450459
27              5136.503627
28              7448.364716
29              2272.698126
30              3839.797238
31              3433.441084
32              3767.431458
33              7899.296711
34              3640.805264
35              6720.716051
36              2481.797573
37             13244.547495
38             13585.694892
39              2317.454994
40              1580.755390
41              2909.273570
42              2713.791841
43              1665.947850
44              4270.822929
45              8970.504061
46              5946.219274
47              1672.784723
48              2388.955966
49               852.713890
50              6793.815465
51              2280.187443
52              3033.071703
53              3108.254611
54              3343.423446
55              5155.457604
56              4578.040942
57              7767.639068
58              7994.183266
59              2215.969712
60              2105.560967
61              2223.498610
62              3349.655192
63              3277.746292
64              1248.942836
65              2332.505773
66              5368.302912
67              3584.730598
68              3838.558036
69              4505.731881
70              1791.107020
71               841.617889
72              3900.404296
73              1511.878735
74              5954.070190
75              2525.196046
76              5481.184193
77              7655.528588
78              8899.251456
79              4072.595966
80              2026.589575
81              5290.001332
82              2402.579829
83              3385.889285
84              4129.501693
85              8524.565090
86              3042.560621
87              6706.210818
88              3580.372816
89              3972.983336
90              4617.905644
91              4973.745301
92              7024.010157
93              4573.388631
94              2631.857345
96              7459.372926
97              5429.592320
98              2203.925518
99              6379.897771
100             8853.209014
101             6692.868288
102             7397.756910
103             8058.792349
104            12213.753722
105             1856.173577
106             3785.552900
107             1314.064682
108            10613.097256
109             3468.217846
110             6670.742742
111             1644.441262
112             1301.404103
113             5210.096483
114             1418.611347
115             4394.559055
116             4535.452759
117             3851.891357
118             3684.537206
119            10404.200494
120             1234.872045
121             1288.529311
122             1227.263888
123             1425.799377
124             1421.731014
125             9971.910124
126             4617.591793
127             1941.575153
128             6661.161180
129             3164.574891
130             5807.212303
131             4849.779782
132             9108.362343
133             2151.582606
134             4278.585097
135             5921.484549
136             3593.354551
137             6081.392079
138             2217.216961
139             7939.291796
140            25114.224586
141             3000.443457
142             6720.145445
143             4534.794304
144             3601.546609
145             7668.969996
146             1795.539638
147             2320.369291
148             2916.950201
149             7414.400941
150             8106.943947
151             1849.185935
152             4073.959882
153             7346.377187
154             3309.157769
155             6034.036930
156             4228.984775
157             4965.211007
158             3919.443046
159             2343.621320
160             3239.519594
161             4920.499307
162             5769.738266
163             5962.884984
164             4028.946037
165             4456.414546
166             6505.252873
167              635.752396
168             7437.043164
169             7646.890820
170             8201.071504
171            14168.681184
172             4437.928592
173             3337.388740
174             2304.615148
175             7602.748400
176             1861.236434
177             1747.477379
178             1584.299864
179             5411.931164
180             3847.959569
181             5454.717807
182             3422.920323
183             6865.231582
184             2140.772559
185             5725.860108
186             9759.066576
187             6687.349403
188             8158.892525
189             4174.803956
190             3921.776189
191             8854.542708
192             1386.744319
193            11468.164609
194             8004.339099
195             9579.823161
196             4163.343658
197             3572.259477
198            18914.619856
199             5743.399262
200             3782.937670
201                0.000000
202             6897.514836
203             4641.981393
204            10906.535883
205             5605.954026
206             7061.791010
207             7849.965700
208             4122.586944
209             8776.327400
210             6462.005786
211             5649.136779
212              506.131986
213             3096.292757
214             9280.978021
215             2230.922539
216             2767.249689
217             5272.185939
218             5473.604428
219             1217.196360
220             4681.080632
221             1378.943259
222             6338.791383
223             4249.223556
224             7081.360792
225             6505.383543
226             3774.424936
227             2524.112397
228             4259.001275
229             7546.541855
230             5655.967084
231             3143.211904
232             8125.304758
233             3589.080830
234            11198.268398
235             3161.022598
236             1749.740490
237             3311.945624
238             1329.893451
239             6908.560917
240             2299.300507
241             2660.311758
242             4130.813925
243             5342.363793
244             4226.687526
245             7462.188120
246             3560.500162
248             1285.644186
249             2274.588534
250             5102.073647
251             7821.067996
252             2353.672548
253             4822.563414
254            10077.759279
255             7191.022605
256             5740.986652
257             6153.038463
258             5970.030024
259             5312.711497
260             2275.700851
261             1807.200011
262              593.769135
263             5048.553117
264             5203.812661
265             1725.845578
266             5034.185302
267              381.970133
268             2077.085550
269             5290.193787
270             5115.367589
271              934.384754
272             4581.846888
273             9061.795313
274            10095.630811
275             7380.842735
276             2246.720503
277            18553.080412
278             6614.537419
279             3699.695853
280             6252.455903
281             6628.891377
282             8239.346064
283             7577.937256
284             1532.583877
285             4398.628767
286             1902.486787
287             3714.696155
288             7960.891134
289             4081.014312
290             2532.839722
291             2425.089341
292             7462.570044
293             3156.369709
294             2155.343466
295             2609.144971
296             1144.170108
297             5276.187752
298             3049.029032
299             1249.192891
300             6163.522012
301             4973.155972
302              954.865085
303            12724.784174
304             3826.360752
305             5211.500241
306             5571.929795
307             6507.046274
308             7358.632131
309             4000.093163
310             2724.141343
311             2202.228589
312             4450.371859
313             5097.327323
314             7590.007034
315             7236.773391
316            10058.866346
317             5590.918827
318             2072.143451
319             1138.740415
320             2452.728761
321             1830.792942
322             1917.666842
323             7211.481600
324             3884.940326
325             1593.179062
326             5600.789172
327             2142.542383
328             9391.441546
329             7560.675279
330             3397.642822
331             3454.547941
332              593.039580
333             6295.639776
334             1906.393355
335             5253.270251
336             9816.189113
337             2667.279950
338             2253.691689
339             5264.012985
340             2962.025007
341             2351.456860
342             8679.327105
343             2800.557529
344             4473.347765
345             4427.689563
346             8506.602571
347             7573.423579
348             2447.921452
349             4412.988380
350            11839.409953
351             2465.443664
352             7222.883501
353             1436.447704
354             7699.001703
355             1996.444236
356             3946.077577
357             7264.506635
358             3973.596254
359             5821.061777
360             4496.408143
361             3007.992127
362             1254.156103
363             5100.606362
364             6003.261999
365             1115.731099
366             6348.710430
367             3450.200146
368             9155.020089
369            16101.320037
370              238.744858
371             4805.160244
372             3425.833640
373             9659.700620
374             5353.409089
375             5500.606448
376             4746.452577
377             2781.985206
378             1295.892880
379            10099.160555
380             7944.640959
381             6692.605968
382             1361.325725
383             5108.466742
384             1463.132256
385             5208.250900
386             2432.012087
387              524.998294
388             5136.742385
389             7257.377131
390             6645.459209
391             9177.420609
392             3667.800393
393               64.456739
394            14082.507566
395             3157.209927
396              473.623182
397             8810.538015
398             5861.757656
399             2923.675696
400             3194.089272
401             2010.356801
402             1929.945837
403             2023.797216
404             4496.573437
405             3049.525357
406              931.882684
407             1794.524682
408             2032.937502
409             4283.280764
410             4429.150656
411             1385.715545
412             7408.829848
413             1977.297135
414             2327.204722
415             5269.639277
416             3584.675461
417              150.564385
418             5806.413112
419             3129.940209
420             3264.930104
421             5572.101514
422             2232.966856
423             2090.891580
424             3403.330865
425             4622.260683
426             4627.176971
427            14536.090159
428            18262.068293
429             2933.308184
430             2528.746492
431             7084.641866
432            10257.301436
433             2978.915244
434             2048.465446
435             5345.349006
436             7357.086852
437             2024.748861
438             2813.567436
439            10212.747164
440             4198.139269
441             6281.202796
442             5403.599673
443             6332.022685
444             2840.986707
445             1911.410197
446             3686.302918
447              492.177832
448             1270.391521
449             3726.830986
450             8395.271224
451             3014.250763
452             8527.645747
453             7585.843471
454             1717.058934
455             6781.251808
456             4632.510954
457             5593.188512
458             1713.761906
459             2591.358765
460            10786.728522
461             7613.693164
462             1079.612538
463             4134.793913
464             5649.203553
465             6881.149480
466             3583.440222
467             5013.540607
468             5067.572424
469             6314.029786
471             6566.757986
472             4189.778033
473             1839.792124
474             4460.962636
475             4724.527066
476             1271.867672
477             4333.567084
478             3460.538658
479             1760.684510
480             2618.720427
481             3706.922832
482             2199.112922
483            10264.397019
484             9203.595951
485             4620.797755
486             6030.264588
487             1665.644374
488             5998.511599
489             5150.649390
490             2611.131557
491             6238.702264
492             4730.846818
493             2812.233459
494             6248.071858
495             4400.830595
496             3593.255545
497             3167.731872
498             2374.484384
499              844.913471
500             5141.662428
501             2041.316189
502             5962.630627
503             1410.735215
504             4726.009503
505             1867.290597
506             9931.278413
507             2824.499644
508             9161.253951
509             5400.039026
510             8675.834358
511             2146.219813
512             2108.065810
513             3017.755267
514             3708.674945
515             1059.637322
516             3456.968810
517             5867.907120
518             2158.370769
519             2566.534969
520             2496.858035
521             5616.572149
522             4598.692022
523             3804.777828
524             1181.917776
525             5241.860421
526             2781.744848
527             3090.951741
528             3212.162054
529             3740.089058
530             9736.343762
531             2809.133429
532            12209.738099
533             2312.171801
534             1650.774047
535             3621.898376
536              706.653772
537             3151.050439
538             2880.368798
539             5686.299702
540             3458.929561
541             6511.911242
542             3548.200818
543             6365.680199
544             5952.193381
545             3474.548671
546            20320.005699
547             2590.623466
548             1012.502194
549             1770.540481
550             5234.289218
551             1884.872755
552             1558.331734
553             9585.942405
554             4102.957121
555             1682.452677
556             3757.458586
557            10978.415031
558            10125.152570
559             5042.151021
560             6505.620448
561             6693.957268
562             7336.206034
563             9500.333441
564             4101.852601
565             2298.612123
566             4633.841362
567             4427.698874
568             8188.409988
569             4555.161698
570             7615.551930
571             2526.455883
572             1944.815279
573             4114.380565
574              680.311932
575             2283.665548
576             3884.665849
577             5180.574028
578             3599.833835
579             5440.748702
580             6632.549872
581             3221.048304
582             5870.124381
583             3620.506330
584             3829.841632
585             7284.331535
586             5080.857995
587             3759.367723
588             3241.600357
589             2625.986160
590             5316.704173
591             2397.147807
592             9724.627648
593             5345.021526
594             3478.133564
595             6431.391576
596             3176.915859
597             9965.002759
598             4986.380739
599             2128.091087
600             2048.194604
601             1041.767048
602             2268.258627
603             7051.809542
604             6035.619162
605             1882.678451
606             2658.880340
607             7675.268826
608             2236.382299
609             1207.839812
610             3845.478379
611             1590.142545
612             3433.734481
613             5831.577879
614             4127.349734
615             6233.766099
616             2162.243421
617            13165.793566
618             2021.599900
619            10962.927279
620             4968.155027
621             2377.301458
622             6059.076152
623             3490.097861
624             5373.060851
625             4254.323609
626              196.945572
627             4609.935855
628             4547.665570
629             1142.519569
630             3532.390429
631             3400.554724
632             7812.856648
633             3362.912359
634             3171.294687
635              310.599207
636             3496.549549
637             8254.770482
639             3082.887425
640             3322.453694
641             1228.344566
642             7059.249254
643             8975.129515
644             4697.355099
645             5510.625228
646             4836.758604
647             2587.085432
648             3290.886130
649             4008.535203
650             7545.333347
651             5469.368903
652             5655.121581
653             2988.517836
655             1319.533190
656              505.515138
657               88.260318
658              409.829307
659                2.718091
660             1201.594680
661             1036.937891
662               47.581505
663               90.084466
665               54.740408
666             1671.676682
667              169.613392
668                2.211118
669              121.515194
670              576.861430
671              646.054123
672              694.360515
673             1121.098018
674              377.970612
675               30.164617
676               19.835235
677               91.728408
678              100.070216
679                2.049714
680               26.051221
681                5.533914
682               28.190621
683                0.000000
684               75.343080
685                8.995310
686                9.612110
687               18.889757
688               33.073549
689               91.956994
690              622.322452
691               96.918993
692               16.604203
693             1101.976653
694              201.106818
695              103.576280
696             1180.546706
697              610.805908
698               70.974336
699               84.107606
700              122.328910
701              916.943957
702              116.486613
703               31.553383
704               67.676047
705                2.017426
706             4833.120631
708               10.069316
709              355.365833
710              127.804793
712             2779.224600
713              139.060529
714              286.614653
715             2525.662329
716                0.000000
718              510.876916
719                9.490792
720             1246.498079
721               91.933967