In [21]:
import pandas as pd
import numpy as np
import datetime

In [87]:
marathon = pd.read_csv('marathon_results_2017 - marathon_results_2017.csv')
df = pd.DataFrame(data=marathon, index=None)
df

,Unnamed: 0,Bib,Name,Age,M/F,City,State,Country,Citizen,Unnamed: 9,...,25K,30K,35K,40K,Pace,Proj Time,Official Time,Overall,Gender,Division
0,0,11,"Kirui, Geoffrey",24,M,Keringet,NaN,KEN,NaN,NaN,...,1:16:59,1:33:01,1:48:19,2:02:53,0:04:57,-,2:09:37,1,1,1
1,1,17,"Rupp, Galen",30,M,Portland,OR,USA,NaN,NaN,...,1:16:59,1:33:01,1:48:19,2:03:14,0:04:58,-,2:09:58,2,2,2
2,2,23,"Osako, Suguru",25,M,Machida-City,NaN,JPN,NaN,NaN,...,1:17:00,1:33:01,1:48:31,2:03:38,0:04:59,-,2:10:28,3,3,3
3,3,21,"Biwott, Shadrack",32,M,Mammoth Lakes,CA,USA,NaN,NaN,...,1:17:00,1:33:01,1:48:58,2:04:35,0:05:03,-,2:12:08,4,4,4
4,4,9,"Chebet, Wilson",31,M,Marakwet,NaN,KEN,NaN,NaN,...,1:16:59,1:33:01,1:48:41,2:05:00,0:05:04,-,2:12:35,5,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26405,26405,25166,"Steinbach, Paula Eyvonne",61,F,Ontario,CA,USA,NaN,MI,...,4:12:06,5:03:08,5:55:18,6:46:57,0:16:24,-,7:09:39,26407,11972,344
26406,26406,25178,"Avelino, Andrew R.",25,M,Fayetteville,NC,USA,NaN,MI,...,3:50:19,4:50:01,5:53:48,6:54:21,0:16:40,-,7:16:59,26408,14436,4774
26407,26407,27086,"Hantel, Johanna",57,F,Malvern,PA,USA,NaN,NaN,...,4:15:21,5:06:37,6:00:33,6:54:38,0:16:47,-,7:19:37,26409,11973,698
26408,26408,25268,"Reilly, Bill",64,M,New York,NY,USA,NaN,MI,...,4:06:10,5:07:09,6:06:07,6:56:08,0:16:49,-,7:20:44,26410,14437,1043
26409,26409,25266,"Rigsby, Scott",48,M,Alpharetta,GA,USA,NaN,MI,...,4:27:14,5:37:13,6:39:07,7:41:23,0:18:15,-,7:58:14,26411,14438,2553

In [105]:
# Question 1
# Show a representation of the percentage of runners grouped according to their age range.

In [95]:
bin_edges = [15, 19, 29, 39, 49, 59, 69, 200]

In [96]:
bin_labels = ['15-19', '20-29', '30-39', '40-49', '50-59', '60-69', '70+']

In [99]:
df['Age Division'] = pd.cut(df.Age, bin_edges, labels=bin_labels)

In [104]:
percentage_of_runners_by_age = df.groupby('Age Division').Bib.count()/26410
percentage_of_runners_by_age

Age Division
15-19    0.002385
20-29    0.153313
30-39    0.246422
40-49    0.312685
50-59    0.204582
60-69    0.072851
70+      0.007762
Name: Bib, dtype: float64

In [108]:
#Question 2
#Find the average finish time by gender

df['Official Time'] = pd.to_datetime(df['Official Time'])
df['Minutes'] = df['Official Time'].dt.hour * 60 + df['Official Time'].dt.minute + df['Official Time'].dt.second/60

In [110]:
average_finish = df.groupby('M/F').Minutes.sum()/df.groupby('M/F').Minutes.count()/60
average_finish

M/F
F    4.151522
M    3.815191
Name: Minutes, dtype: float64

In [29]:
# Question 3a
# Show only runners from the United States

filtered_runners = df.loc[df['Country'] == 'USA']
filtered_runners

,Unnamed: 0,Bib,Name,Age,M/F,City,State,Country,Citizen,Unnamed: 9,...,25K,30K,35K,40K,Pace,Proj Time,Official Time,Overall,Gender,Division
1,1.0,17,"Rupp, Galen",30.0,M,Portland,OR,USA,NaN,NaN,...,1:16:59,1:33:01,1:48:19,2:03:14,0:04:58,-,2:09:58,2.0,2.0,2.0
3,3.0,21,"Biwott, Shadrack",32.0,M,Mammoth Lakes,CA,USA,NaN,NaN,...,1:17:00,1:33:01,1:48:58,2:04:35,0:05:03,-,2:12:08,4.0,4.0,4.0
5,5.0,15,"Abdirahman, Abdi",40.0,M,Phoenix,AZ,USA,NaN,NaN,...,1:16:59,1:33:01,1:48:52,2:05:21,0:05:04,-,2:12:45,6.0,6.0,1.0
6,6.0,63,"Maiyo, Augustus K.",33.0,M,Colorado Springs,CO,USA,NaN,NaN,...,1:17:00,1:33:01,1:49:06,2:05:41,0:05:05,-,2:13:16,7.0,7.0,6.0
8,8.0,18,"Puskedra, Luke",27.0,M,Eugene,OR,USA,NaN,NaN,...,1:17:26,1:34:05,1:50:53,2:07:17,0:05:09,-,2:14:45,9.0,9.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26405,26405.0,25166,"Steinbach, Paula Eyvonne",61.0,F,Ontario,CA,USA,NaN,MI,...,4:12:06,5:03:08,5:55:18,6:46:57,0:16:24,-,7:09:39,26407.0,11972.0,344.0
26406,26406.0,25178,"Avelino, Andrew R.",25.0,M,Fayetteville,NC,USA,NaN,MI,...,3:50:19,4:50:01,5:53:48,6:54:21,0:16:40,-,7:16:59,26408.0,14436.0,4774.0
26407,26407.0,27086,"Hantel, Johanna",57.0,F,Malvern,PA,USA,NaN,NaN,...,4:15:21,5:06:37,6:00:33,6:54:38,0:16:47,-,7:19:37,26409.0,11973.0,698.0
26408,26408.0,25268,"Reilly, Bill",64.0,M,New York,NY,USA,NaN,MI,...,4:06:10,5:07:09,6:06:07,6:56:08,0:16:49,-,7:20:44,26410.0,14437.0,1043.0
26409,26409.0,25266,"Rigsby, Scott",48.0,M,Alpharetta,GA,USA,NaN,MI,...,4:27:14,5:37:13,6:39:07,7:41:23,0:18:15,-,7:58:14,26411.0,14438.0,2553.0

In [ ]:
# Question 3b
# Runners are from a varying number of states. Show the top 5 states which have the best native runner average.